[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gpt-2-simple = "*"
tensorflow = "==2.5.3"
fire = "*"
pytest = "*"

[requires]
python_version = "3.7"
